<a href="https://colab.research.google.com/github/ItisMyHub/ArenaDodgeCollect/blob/main/DataEng_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install PySpark (Kaggle may need this)
!pip install pyspark -q

from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

# Start Spark
spark = SparkSession. builder. appName("DataEngineeringProject").getOrCreate()

# ===== DataFrame 1: Basic data =====
data1 = [("Alice", 25, 50000), ("Bob", 30, 60000), ("Charlie", 35, 70000), ("Diana", 28, 55000)]
df1 = spark.createDataFrame(data1, ["Name", "Age", "Salary"])
print("===== DataFrame 1 =====")
df1.show()
df1.summary().show()

# ===== DataFrame 2: Add column using lit =====
df2 = df1.withColumn("Department", lit("Engineering"))
print("===== DataFrame 2 =====")
df2.show()
df2.summary().show()

# ===== DataFrame 3: Filtered data =====
df3 = df1.filter(df1["Age"] > 28)
print("===== DataFrame 3 (filtered Age > 28) =====")
df3.show()
df3.summary().show()

# Stop Spark
spark.stop()
print("===== COMPLETED =====")

===== DataFrame 1 =====

+-------+---+------+
|   Name|Age|Salary|
+-------+---+------+
|  Alice| 25| 50000|
|    Bob| 30| 60000|
|Charlie| 35| 70000|
|  Diana| 28| 55000|
+-------+---+------+

+-------+-----+-----------------+-----------------+
|summary| Name|              Age|           Salary|
+-------+-----+-----------------+-----------------+
|  count|    4|                4|                4|
|   mean| NULL|             29.5|          58750.0|
| stddev| NULL|4.203173404306164|8539.125638299665|
|    min|Alice|               25|            50000|
|    25%| NULL|               25|            50000|
|    50%| NULL|               28|            55000|
|    75%| NULL|               30|            60000|
|    max|Diana|               35|            70000|
+-------+-----+-----------------+-----------------+

===== DataFrame 2 =====
+-------+---+------+-----------+
|   Name|Age|Salary| Department|
+-------+---+------+-----------+
|  Alice| 25| 50000|Engineering|
|    Bob| 30| 60000|Engineering|
|Charlie| 35| 70000|Engineering|
|  Diana| 28| 55000|Engineering|
+-------+---+------+-----------+

+-------+-----+-----------------+-----------------+-----------+
|summary| Name|              Age|           Salary| Department|
+-------+-----+-----------------+-----------------+-----------+
|  count|    4|                4|                4|          4|
|   mean| NULL|             29.5|          58750.0|       NULL|
| stddev| NULL|4.203173404306164|8539.125638299665|       NULL|
|    min|Alice|               25|            50000|Engineering|
|    25%| NULL|               25|            50000|       NULL|
|    50%| NULL|               28|            55000|       NULL|
|    75%| NULL|               30|            60000|       NULL|
|    max|Diana|               35|            70000|Engineering|
+-------+-----+-----------------+-----------------+-----------+

===== DataFrame 3 (filtered Age > 28) =====
+-------+---+------+
|   Name|Age|Salary|
+-------+---+------+
|    Bob| 30| 60000|
|Charlie| 35| 70000|
+-------+---+------+

+-------+-------+------------------+-----------------+
|summary|   Name|               Age|           Salary|
+-------+-------+------------------+-----------------+
|  count|      2|                 2|                2|
|   mean|   NULL|              32.5|          65000.0|
| stddev|   NULL|3.5355339059327378|7071.067811865475|
|    min|    Bob|                30|            60000|
|    25%|   NULL|                30|            60000|
|    50%|   NULL|                30|            60000|
|    75%|   NULL|                35|            70000|
|    max|Charlie|                35|            70000|
+-------+-------+------------------+-----------------+

===== COMPLETED =====